/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0f36;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #0d0f36;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
  }
  
  h1, h2 {
    color: #ffffff;
    text-align: center;
  }
  
  /* Estilos del formulario */
  .form-container {
    animation: fadeIn 1s ease-in-out;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #88dad2;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #88dad2;
  }
  
  /* Animaciones */
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  /* Flash Messages */
.flash-messages {
  margin-bottom: 20px;
  text-align: center;
}

.alert {
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
  margin: 10px auto;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert.danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}
